#login,
#register {
  background-color: #eee;
}
#login header,
#register header {
  position: relative;
}
#login #owl-login,
#register #owl-login {
  width: 211px;
  height: 108px;
  background-image: url("../images/owl-login.png");
  position: absolute;
  top: -100px;
  left: 50%;
  margin-left: -111px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  #login #owl-login,
  #register #owl-login {
    background-image: url("../images/owl-login@2x.png");
    -webkit-background-size: 211px 108px;
    -moz-background-size: 211px 108px;
    background-size: 211px 108px;
  }
}
#login #owl-login .hand,
#register #owl-login .hand {
  width: 34px;
  height: 34px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background-color: #472d20;
  -webkit-transform: scaleY(0.6);
  -moz-transform: scaleY(0.6);
  -o-transform: scaleY(0.6);
  -ms-transform: scaleY(0.6);
  transform: scaleY(0.6);
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  position: absolute;
  left: 14px;
  bottom: -8px;
}
#login #owl-login .hand.hand-r,
#register #owl-login .hand.hand-r {
  left: 170px;
}
#login #owl-login.password .hand,
#register #owl-login.password .hand {
  -webkit-transform: translateX(42px) translateY(-15px) scale(0.7);
  -moz-transform: translateX(42px) translateY(-15px) scale(0.7);
  -o-transform: translateX(42px) translateY(-15px) scale(0.7);
  -ms-transform: translateX(42px) translateY(-15px) scale(0.7);
  transform: translateX(42px) translateY(-15px) scale(0.7);
}
#login #owl-login.password .hand.hand-r,
#register #owl-login.password .hand.hand-r {
  -webkit-transform: translateX(-42px) translateY(-15px) scale(0.7);
  -moz-transform: translateX(-42px) translateY(-15px) scale(0.7);
  -o-transform: translateX(-42px) translateY(-15px) scale(0.7);
  -ms-transform: translateX(-42px) translateY(-15px) scale(0.7);
  transform: translateX(-42px) translateY(-15px) scale(0.7);
}
#login #owl-login .arms,
#register #owl-login .arms {
  top: 58px;
  position: absolute;
  width: 100%;
  height: 41px;
  overflow: hidden;
}
#login #owl-login .arms .arm,
#register #owl-login .arms .arm {
  width: 40px;
  height: 65px;
  position: absolute;
  left: 20px;
  top: 40px;
  background-image: url("../images/owl-login-arm.png");
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  #login #owl-login .arms .arm,
  #register #owl-login .arms .arm {
    background-image: url("../images/owl-login-arm@2x.png");
    -webkit-background-size: 40px 65px;
    -moz-background-size: 40px 65px;
    background-size: 40px 65px;
  }
}
#login #owl-login .arms .arm.arm-r,
#register #owl-login .arms .arm.arm-r {
  -webkit-transform: rotate(20deg) scaleX(-1);
  -moz-transform: rotate(20deg) scaleX(-1);
  -o-transform: rotate(20deg) scaleX(-1);
  -ms-transform: rotate(20deg) scaleX(-1);
  transform: rotate(20deg) scaleX(-1);
  left: 158px;
}
#login #owl-login.password .arms .arm,
#register #owl-login.password .arms .arm {
  -webkit-transform: translateY(-40px) translateX(40px);
  -moz-transform: translateY(-40px) translateX(40px);
  -o-transform: translateY(-40px) translateX(40px);
  -ms-transform: translateY(-40px) translateX(40px);
  transform: translateY(-40px) translateX(40px);
}
#login #owl-login.password .arms .arm.arm-r,
#register #owl-login.password .arms .arm.arm-r {
  -webkit-transform: translateY(-40px) translateX(-40px) scaleX(-1);
  -moz-transform: translateY(-40px) translateX(-40px) scaleX(-1);
  -o-transform: translateY(-40px) translateX(-40px) scaleX(-1);
  -ms-transform: translateY(-40px) translateX(-40px) scaleX(-1);
  transform: translateY(-40px) translateX(-40px) scaleX(-1);
}
#login .loginform,
#register .loginform {
  margin-top: 200px;
  position: relative;
  border: 1px solid #ddd;
  background-color: #fff;
  position: relative;
  max-width: 400px;
  padding: 0;
}
#login .loginform.center,
#register .loginform.center {
  text-align: center;
}
#login .loginform.center p,
#register .loginform.center p {
  color: #777;
  margin-bottom: 0;
}
#login .loginform h3,
#register .loginform h3 {
  margin: 0;
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}
#login .loginform .logo,
#register .loginform .logo {
  text-align: center;
}
#login .loginform .controls,
#register .loginform .controls {
  position: relative;
  margin-bottom: 10px;
}
#login .loginform input,
#register .loginform input {
  color: #444;
}
#login .loginform .pad,
#register .loginform .pad {
  overflow: hidden;
  padding: 30px;
}
#login .loginform .form-actions,
#register .loginform .form-actions {
  border-top: 1px solid #e4e4e4;
  background-color: #f7f7f7;
  padding: 15px 30px;
  text-align: right;
}
#login .loginform .error,
#register .loginform .error {
  padding-top: 4px;
  font-size: 13px;
  color: #a31717;
}
#login input:-webkit-autofill,
#register input:-webkit-autofill {
  color: #fff !important;
}
#login .clear,
#register .clear {
  clear: both;
  padding-top: 1px;
}
#login .clear hr,
#register .clear hr {
  margin-top: 10px;
}
#login #signup-main h2,
#register #signup-main h2,
#login #signup-project h2,
#register #signup-project h2 {
  margin-top: 0;
  font-size: 25px;
  font-weight: 300;
  color: #888;
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
#login #signup-main .slugger input,
#register #signup-main .slugger input,
#login #signup-project .slugger input,
#register #signup-project .slugger input {
  border-right: 0 none !important;
  padding-right: 0;
}
#login #signup-main .slugger input:focus + .input-group-addon,
#register #signup-main .slugger input:focus + .input-group-addon,
#login #signup-project .slugger input:focus + .input-group-addon,
#register #signup-project .slugger input:focus + .input-group-addon {
  border-color: #66afe9 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 1px 0 8px 0 rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 1px 0 8px 0 rgba(102,175,233,0.6);
}
.has-error #login #signup-main .slugger input:focus + .input-group-addon,
.has-error #register #signup-main .slugger input:focus + .input-group-addon,
.has-error #login #signup-project .slugger input:focus + .input-group-addon,
.has-error #register #signup-project .slugger input:focus + .input-group-addon {
  border-color: #953b39 !important;
}
#login #signup-main .slugger .input-group-addon,
#register #signup-main .slugger .input-group-addon,
#login #signup-project .slugger .input-group-addon,
#register #signup-project .slugger .input-group-addon {
  background-color: #fff;
  color: #bbb;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -ms-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  position: relative;
}
#login #signup-main .slugger .input-group-addon:before,
#register #signup-main .slugger .input-group-addon:before,
#login #signup-project .slugger .input-group-addon:before,
#register #signup-project .slugger .input-group-addon:before {
  content: "";
  display: block;
  background-color: #fff;
  width: 6px;
  position: absolute;
  top: 0;
  left: -4px;
  height: 100%;
}
#login #signup-main .fileupload,
#register #signup-main .fileupload,
#login #signup-project .fileupload,
#register #signup-project .fileupload {
  display: block;
  height: 32px;
  padding-top: 8px;
}
#login #signup-main .fileupload.button,
#register #signup-main .fileupload.button,
#login #signup-project .fileupload.button,
#register #signup-project .fileupload.button {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 9px 14px;
  height: 36px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(#fff, #eee);
  background-image: -moz-linear-gradient(#fff, #eee);
  background-image: -o-linear-gradient(#fff, #eee);
  background-image: -ms-linear-gradient(#fff, #eee);
  background-image: linear-gradient(#fff, #eee);
  color: #777;
  font-size: 12px;
  font-weight: bold;
}
#login #signup-main .fileupload.img,
#register #signup-main .fileupload.img,
#login #signup-project .fileupload.img,
#register #signup-project .fileupload.img {
  text-indent: -90000px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}
#login .owl-signup,
#register .owl-signup {
  position: absolute;
  bottom: -30px;
  right: 207px;
  width: 230px;
  height: 288px;
}
@media (max-width: 1199px) {
  #login .owl-signup,
  #register .owl-signup {
    right: 127px;
  }
}
@media (max-width: 991px) {
  #login .owl-signup,
  #register .owl-signup {
    right: -3px;
  }
}
@media (max-width: 767px) {
  #login .owl-signup,
  #register .owl-signup {
    display: none;
  }
}
#login .owl-signup .owl-body,
#register .owl-signup .owl-body {
  width: 230px;
  height: 288px;
  background-image: url("../images/signup.png");
  z-index: 10;
  position: relative;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  #login .owl-signup .owl-body,
  #register .owl-signup .owl-body {
    background-image: url("../images/signup@2x.png");
    -webkit-background-size: 230px 288px;
    -moz-background-size: 230px 288px;
    background-size: 230px 288px;
  }
}
#login .owl-signup .owl-body .owl-eye,
#register .owl-signup .owl-body .owl-eye {
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
  top: 100px;
  left: 30px;
  width: 20px;
  height: 20px;
  background-color: #111;
  -webkit-transform-origin: 34px 21px;
  -moz-transform-origin: 34px 21px;
  -o-transform-origin: 34px 21px;
  -ms-transform-origin: 34px 21px;
  transform-origin: 34px 21px;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
#login .owl-signup .owl-body .owl-eye.right,
#register .owl-signup .owl-body .owl-eye.right {
  left: 118px;
  top: 116px;
}
#login .owl-signup .owl-body .owl-eye:before,
#register .owl-signup .owl-body .owl-eye:before {
  content: "";
  background-color: #fff;
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  top: -1px;
  left: 2px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
}
#login .owl-signup .owl-arm,
#register .owl-signup .owl-arm {
  background-image: url("../images/signup-arm.png");
  width: 92px;
  height: 103px;
  position: absolute;
  top: 78px;
  left: -75px;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  #login .owl-signup .owl-arm,
  #register .owl-signup .owl-arm {
    background-image: url("../images/signup-arm@2x.png");
    -webkit-background-size: 92px 103px;
    -moz-background-size: 92px 103px;
    background-size: 92px 103px;
  }
}
#login .owl-signup .owl-feet,
#register .owl-signup .owl-feet {
  background-image: url("../images/signup-feet.png");
  width: 150px;
  height: 32px;
  position: absolute;
  bottom: -12px;
  left: 12px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  #login .owl-signup .owl-feet,
  #register .owl-signup .owl-feet {
    background-image: url("../images/signup-feet@2x.png");
    -webkit-background-size: 150px 32px;
    -moz-background-size: 150px 32px;
    background-size: 150px 32px;
  }
}
#login .owl-signup.step2 .owl-body,
#register .owl-signup.step2 .owl-body {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
#login .owl-signup.step2 .owl-arm,
#register .owl-signup.step2 .owl-arm {
  -webkit-transform: rotate(-15deg) translateX(4px);
  -moz-transform: rotate(-15deg) translateX(4px);
  -o-transform: rotate(-15deg) translateX(4px);
  -ms-transform: rotate(-15deg) translateX(4px);
  transform: rotate(-15deg) translateX(4px);
}
#login .owl-signup.step2 .owl-eye,
#register .owl-signup.step2 .owl-eye {
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
#login .owl-signup.step3 .owl-body,
#register .owl-signup.step3 .owl-body {
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  transform: rotate(-6deg);
}
#login .owl-signup.step3 .owl-arm,
#register .owl-signup.step3 .owl-arm {
  -webkit-transform: rotate(-37deg) translateX(15px) translateY(9px);
  -moz-transform: rotate(-37deg) translateX(15px) translateY(9px);
  -o-transform: rotate(-37deg) translateX(15px) translateY(9px);
  -ms-transform: rotate(-37deg) translateX(15px) translateY(9px);
  transform: rotate(-37deg) translateX(15px) translateY(9px);
}
#login .owl-signup.step3 .owl-eye,
#register .owl-signup.step3 .owl-eye {
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg);
}
#login .login {
  height: 350px;
  margin-top:100px;
}
#login .loginform {
  margin-top: 0;
  top: 100px;
}
#register #signup-main,
#register #signup-project {
  margin: 0;
  float: left;
  width: 480px;
  max-width: 480px;
  border: 0 none;
}
#register label {
  text-align: left;
  color: #777;
  font-weight: normal;
}
#register label .need-code {
  display: block;
  padding-left: 22px;
  font-size: 11px;
}
#register label .fa {
  padding-right: 7px;
  color: #ccc;
}
#register #signup-background {
  background-color: #1a8fb4;
  -webkit-box-shadow: 0 -8px #00789d inset;
  box-shadow: 0 -8px #00789d inset;
  margin-bottom: 100px;
}
#register #signup-background .books {
  background-image: url("../images/books.png");
  background-position: -411px bottom;
  position: relative;
  background-repeat: repeat-x;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  #register #signup-background .books {
    background-image: url("../images/books@2x.png");
    -webkit-background-size: 748px 161px;
    -moz-background-size: 748px 161px;
    background-size: 748px 161px;
  }
}
#register #signup-background .signup-text {
  padding-top: 50px;
}
#register #signup-background #form-parent {
  top: 50px;
  position: relative;
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}
#register #signup-background #form-parent.next #form-slider {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
#register #signup-background #form-parent #form-slider {
  -webkit-transition: -webkit-transform 0.55s ease-out;
  -moz-transition: -moz-transform 0.55s ease-out;
  -o-transition: -o-transform 0.55s ease-out;
  -ms-transition: -ms-transform 0.55s ease-out;
  transition: transform 0.55s ease-out;
  width: 200%;
  position: relative;
}
#register #signup-background #form-parent #form-slider .pad {
  padding: 50px 60px;
}
#register #signup-background #form-parent #form-slider form {
  width: 50%;
  max-width: 10000px;
}
#register #signup-background h3 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 25px;
}
#register #signup-background p {
  color: rgba(255,255,255,0.6);
}
@media (max-width: 991px) {
  #register #signup-background p {
    display: none;
  }
}
#login .loginform label {
  position: absolute;
  top: 13px;
  left: 13px;
  font-size: 16px;
  color: rgba(0,0,0,0.3);
}
#login .loginform input {
  padding: 9px 6px 9px 40px;
  height: auto;
}
