<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:cache="http://www.springframework.org/schema/cache"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/cache
       http://www.springframework.org/schema/cache/spring-cache-3.1.xsd">

    <import resource="classpath:/spring/spring-cms.xml"/>
    <import resource="classpath:/spring/spring-db.xml"/>
    <import resource="classpath:/spring/dubbo-config.xml"/>
    <import resource="classpath:/spring/dubbo-provider.xml"/>
    <import resource="classpath:/spring/dubbo-consumer.xml"/>
    <!-- redis配置 -->
    <import resource="spring-redis.xml" />

    <context:annotation-config/>
    <aop:aspectj-autoproxy/>
    <context:component-scan base-package="com.huangyuan.open.gray.config.provider"/>

    <!--Log Aop-->
    <bean id="logAspect" class="com.huangyuan.open.gray.config.provider.aop.LogAspect"/>
    <aop:config>
        <aop:aspect id="logMonitor" ref="logAspect">
            <aop:pointcut id="monitor"
                          expression="execution(* com.huangyuan.open.gray.config.provider.service.impl..*.*(..))" />
            <aop:around pointcut-ref="monitor" method="around"/>
        </aop:aspect>
    </aop:config>

    <!-- 开启ehcache缓存 -->
    <cache:annotation-driven cache-manager="cacheManager" />

    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehcache"></property>
    </bean>

    <bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:/spring/spring-ehcache.xml"></property>
    </bean>
</beans>


